Checks: 'clang-diagnostic-*,clang-analyzer-*,*,-fuchsia-*,-google-*,-readability-else-after-return,-hicpp-braces-around-statements,-readability-braces-around-statements,-readability-implicit-bool-conversion,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-llvm-include-order,-readability-avoid-const-params-in-decls,-readability-named-parameter,-modernize-use-override,-hicpp-use-override,-llvm-header-guard,-hicpp-no-array-decay,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-misc-unconventional-assign-operator,-cppcoreguidelines-c-copy-assignment-signature,-hicpp-vararg,-readability-redundant-member-init,-modernize-use-default-member-init,-hicpp-explicit-conversions,-cppcoreguidelines-pro-type-vararg,-clang-diagnostic-c++17-compat-mangling,-cppcoreguidelines-pro-bounds-constant-array-index'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
